/* UTILITIES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
   body {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    background-color: #CAF0F8;
   }
   a {
    text-decoration: none;
   }
   li {
    list-style: none;
   }
   .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    background-color: #CAF0F8;
    color: #0077b6  ;
   }
   .nav-links a {
    color: #0077b6;
   }
   /* LOGO */
   .logo {
    font-size: 22px;
   }
   /* NAVBAR MENU */
   .menu {
    display: flex;
    gap: 1em;
    font-size: 15px;
   }
   .menu li:hover {
    background-color: #03045E;
    border-radius: 5px;
    transition: 0.3s ease;
   }
   .menu li {
    padding: 5px 14px;
   }
   /* DROPDOWN MENU */
   .services {
    position: relative; 
   }
   .nav-links a:hover{
    color: #ADE8F4;
   }

   h1{
    font-size: 50px;
    color: #03045E;
    text-align: center;
    margin-top: 27vh;
   }
   h4{
    font-size: 18px;
    color: #1d5d7a;
    text-align: center;
    margin-top: 5px;
    text-transform: none;
   }

.gun1{
    z-index: -1;
    margin-top: 90px;
    text-align: center;
    /* rotate image 90deg */
    transform: rotate(-60deg);

}
.im{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-left: 40vw;
}
.gun2{
    z-index: -1;
    margin-top: 90px;
    text-align: center;
    transform: rotate(60deg) scaleX(-1);

}