<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Open Agent</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav class="navbar">
        <!-- LOGO -->
        <div class="logo"><a href="{{ url_for('index') }}">Open Agent</a></div>
        <!-- NAVIGATION MENU -->
        <ul class="nav-links">
          <!-- USING CHECKBOX HACK -->
          <!-- <input type="checkbox" id="checkbox_toggle" /> -->
          <!-- <label for="checkbox_toggle" class="hamburger">&#9776;</label> -->
          <!-- NAVIGATION MENUS -->
          <div class="menu">
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('note') }}">Agent-Note</a></li>
            <li><a href="{{ url_for('js') }}">Agent-Code</a></li>
            <li><a href="{{ url_for('simple') }}">Agent-Decrypt</a></li>
            <li><a href="{{ url_for('extract') }}">Agent-extract</a></li>
          </div>
        </ul>
      </nav>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
    {% block content %} {% endblock %} 
</body>
</html>