{% extends "base.html" %} {% block title %}Open Agent{% endblock %} {% block content
    %}

<body>
    <div class="entry">
    <h1 class="h1"> 
        Open-Agent
    </h1>
    <h4 class="h4">
        A companion to help you find the best agent for your needs. <br>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="ai ai-Infinite"><path d="M5.636 16C2.91 16 2 14 2 12s.91-4 3.636-4c3.637 0 9.091 8 12.728 8C21.09 16 22 14 22 12s-.91-4-3.636-4c-3.637 0-9.091 8-12.728 8z"/></svg>
    </h4>
    </div>
    <section>
    <div class="im">
        <img src="{{ url_for('static', filename='img/gun1.png') }}" alt="agent" class="gun1">
        <image src="{{ url_for('static', filename='img/gun2.png') }}" alt="agent" class="gun2">
    </div>
    </section>

    <section class="f">
        <div class="feat">
            <h1 class="fh1">
                Features
            </h1>
        </div>
        <div class="card1">
            <img src="{{ url_for('static', filename='img/Notes.svg') }}" alt="agent" class="agent1">
            <h3 class="card-title">
                Agent Notes
            </h3>
            <p class="card-text">
                A agent that suggest you key point about a paticular topic. <br>
                <button class="button1" ><a href="{{ url_for('note') }}">Check Out</a></button>
        </div>
        <div class="card2">
            <img src="{{ url_for('static', filename='img/pair.svg') }}" alt="agent" class="agent2">
            <h3 class="card-title2">
                Agent Code
            </h3>
            <p class="card-text2">
            Agent that can generate code for you from a text. <br>
            <button class="button1" ><a href="{{ url_for('js') }}">Check Out</a></button>         
            </div>
   

    <div class="card3">
        <img src="{{ url_for('static', filename='img/Chatbot.svg') }}" alt="agent" class="agent3">
        <h1 class="card-title3">
            Agent Decrypt
        </h1>
        <p class="card-text3">
            A agent that can decrypt and summerise a long and complex text into simpler one.
        </p>
        <button class="button2" ><a href="{{ url_for('simple') }}">Check Out</a></button>
    </div>
</section>
</body>

<footer class="footer1"> Made with ❤️ <br>
    by <a href="https://github.com/Anurag30112003/"> anurag </a></footer>
    {% endblock %}  