{% extends "base.html" %} {% block title %}Open Agent{% endblock %} {% block content
    %}

<body>
    <h1>Agent Code</h1>
    <h4>Agent that can generate code for you from a text.</h4>
    <form method="POST">
        <input type="text" id="name" name="name" placeholder="ENTER TEXT"> <br>
        <button type="submit" class="submit">Submit</button>
    </form>
    <br>
    <div class="output1" style="text-transform: none;">
    {% autoescape false %}
    Output - {{data}}
    {% endautoescape %}
    {% endblock %}
    </div>
