{% extends "base.html" %} {% block title %}Open Agent{% endblock %} {% block content
    %}
   <body>
       
    <h1>Notes script</h1>
    <form method="POST">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" placeholder="enter name">
        <button type="submit">Submit</button>
    </form>
    </body>
    <br>
    <div class="footertxt">
        Made with ❤️ <br>
        by <a href="https://github.com/Anurag30112003/"> anurag </a>
    </div>
    {{data}}
{% endblock %}