{% extends "base.html" %} {% block title %}Open Agent{% endblock %} {% block content
    %}
   <body>
       
    <h1>Agent note</h1>
    <h4> A agent that suggest you key point about a paticular topic.</h4>
    <form method="POST">
        <!-- <label for="name">Name</label> -->
        <input type="text" id="name" name="name" placeholder="ENTER THE TOPIC"> <br>
        <button type="submit" class="submit">Submit</button>
    </form>
    </body>
    <br>
    <div class="output1">
        Output - {{data}}
    </div>
    
{% endblock %}